@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: whitesmoke;
}

.container {
  height: 275px;
  width: 750px;
  margin: auto;
  text-align: center;
  padding: 100px 0px;
}

#excuse {
  margin: 25px auto;
  font-size: 28px;
  color: black;
  font-weight: bold;
}
